/* index, 모든 sub페이지에 적용할 공통 header, footer common.css */
#wrap {}
#wrap header {
    position:fixed;/* lnb_bg의 부모 위치 기준 설정 */
    width:100%; height:92px;
    padding:0 60px;
    z-index:900;/* -1 ~ 999 단위없고 중첩순서만 결정하는 position 선택속성 */
    /* container(header) item(h1, nav, right_menu) */
    display:flex;
    flex-flow:row nowrap;/* 방향과 줄바꿈 */
    justify-content:space-between;/* 메인축의 정렬방법 */ /* figma의 auto같은 느낌 */
    align-items:center;/* 교차축이 1줄일때 center */
    background-color:#fff;
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {}
#wrap header nav .gnb {
    /* container(.gnb) item(li) */
    display:flex; flex-flow:row nowrap;
}
#wrap header nav .gnb > li {margin-right:60px;}
#wrap header nav .gnb > li:last-child {margin-right: 0;}/* 마지막 li에게 넣어진margitn-rigt의 값을 없앨때 밑에 수열선택자를 따로 만든다. */
#wrap header nav .gnb > li > a {
    height:92px; display:block; line-height:92px;
    font-size: 1.125rem;
    font-weight: 600;
    /* line-height: 1 or 100%; reset초기값에 존재하므로 생략 */
    /* letter-spacing:-0.02rem; reset초기값에 존재하므로 생략 */
    /* text-align:left; 기본값이므로 작성 필요 없음 */
    /* color:#000; reset초기값에 존재하므로 생략 */
}
/* ===============================서브메뉴 company,ir*/
#wrap header nav .gnb > li:hover .lnb_bg {
    /* :hover 마우스를 올렸을때만 동작 -> 영역 밖으로 나가면 닫힘 */
    display:block;
}
/* #wrap header nav .gnb > li:first-child:hover .lnb_bg {display:none;}/* company */
/* #wrap header nav .gnb > li:nth-child(2):hover .lnb_bg {display:block}/* brands */
/* #wrap header nav .gnb > li:nth-child(3):hover .lnb_bg {display:none;}/* ir */
#wrap header nav .gnb > li .lnb_bg {
    background:rgba(255,255,255,0.8);
    position:absolute; left:0; top:92px;/* 시작 위치 설정 */
    width:100%;
    /* absolute 대상일 경우 width값은 부모설정된 요소의 상대값(%)으로 설정된다. */
    padding:50px 0;
    /* 초기 숨기기(마우스 올릴때만 보이도록) */
    display:none;
    z-index:999;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 {
    width:max-content;/* 내용의 최대 크기에 맞추겠다. | 피그마 Hug */
    margin:0 auto;
    display:flex;/* 정렬하고 싶은 대상(li)의 부모(ul)에게 flex를 선언한다. */
    text-align:center;/* 글자 가운데 정렬 */
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li {
    margin-right:100px;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li:last-child {margin-right:0;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li > a {font-size:1.063rem; font-weight:600;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    margin-top:14px;
}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li:last-child {margin-bottom:0;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li {margin-bottom:16px;}
#wrap header nav .gnb > li .lnb_bg .lnb_depth1 > li .lnb_depth2 li a {}
/* ===============================gnb 2. brands 서브메뉴개별디자인 */
#wrap header nav .gnb > li:nth-child(2) .lnb_bg {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li a {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li a h2 {
    font-size:1.063rem; font-weight:600;
}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li a p {margin-top:14px;}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li a p img {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li a:first-child p img {background-color:#fff;}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li > h2 {font-size:1.063rem; font-weight:600;}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 {
    display:flex;
    flex-flow:row wrap;/* 자동정렬 */
    justify-content:space-between;
    width:315px;
}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 > li {
}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 > li:last-child {
    margin:0;
}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 > li:nth-last-child(2) {margin:0;}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 > li > a {}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg .lnb_depth1 > li .lnb_depth2 > li > a img {}
/* ===============================gnb 2. brands 서브메뉴개별디자인(이미지효과) */
#wrap header nav .gnb > li:nth-child(2) .lnb_bg a img {
    filter:grayscale(100%); opacity:(80%);
    border:1px solid #fff;
}
#wrap header nav .gnb > li:nth-child(2) .lnb_bg a:hover img {
    filter:grayscale(0);
    border:1px solid #000;
}
/* ===============================우측 보조메뉴 */
#wrap header .right_menu {
    display:flex; flex-flow:row nowrap;/* display -> flex선언, 메인축 -> 수평, 자동줄바꿈x */
}
#wrap header .right_menu li {margin-left:30px;}
#wrap header .right_menu li:first-child {
    margin-left:0;
    display:flex; flex-flow:row nowrap;
    align-items:center;
    line-height:24px;
}
/* 포토샵, 피그마에서 디자인한 구분선 디자인은 CSS에서 가상선택자 after 또는 before를 이용하여 면으로 변경하여 디자인한다. */
#wrap header .right_menu li:first-child::after {
    content:'';/* 컨텐츠를 비워두는건 아무것도 쓰지 않겠다고 하는것 */
    display:inline-block; width:1px; height:20px;
    background-color:#000;
    margin-left:30px;
}
#wrap header .right_menu li:first-child {}
#wrap header .right_menu li a {
    font-size: 0.75rem;
    letter-spacing: 0;
}
#wrap header .right_menu li a img {}
/* ====================================footer */
#wrap .footer_full_w {
    width:100%;
    padding:50px 60px;/* 메인메뉴의 footer와 서브메뉴의 footer의 크기가 다를때는 footer에 class를 주어서 메인과 서브로 나눠서 크기를 맟춰준다. */
}
#wrap footer {
    width:1280px;/* footer의 전체 넓이를 정한다. */
    margin:0 auto;
    padding:50px 0;/* 먼저 figma에서 작업한 여백의 크기를 먼저 적용한다. */
}
#wrap footer .top {
    margin-bottom:12px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;
}
#wrap footer .top .left {
    display:flex; flex-flow:row nowrap; /* flex 필요할때다 같이 써야함(기본값) */
    align-items:center;/* 수직 중앙정렬 */
}
#wrap footer .top .left a {
    font-weight: 600;
    margin-right:60px;
}
#wrap footer .top .left a:last-child {margin-right:0;}
/* ===========================footer 수열선택자 */
#wrap footer .top .left a:nth-child(1) {
    color: #138FBF;
}
#wrap footer .top .left a:nth-child(2) {
    color: #DA2128;
}
/* ===========================footer */
#wrap footer .top .left a img {}
#wrap footer .top .right {
    display:flex; flex-flow:row nowrap;/* flex는 형제끼리 크기를 맟춰주는 기능이 있다. */
    align-items:center;
}
/* ===========================footer 패밀리사이트+사이트맵 공통 */
#wrap footer .top .right .site {
    font-size: 0.75;
    padding: 7px 10px;
    border: 1px solid #eee; height:38px;
}
/* ===========================footer 패밀리사이트+사이트맵 개별 */
#wrap footer .top .right select {
    width:197px; outline:none;
    background:#fff url(../image/icon_down_arrow.png) no-repeat 95% center;
}
#wrap footer .top .right select option {}
#wrap footer .top .right .site_map {
    background:#fff;
    width:137px;
    display:flex; flex-flow:row nowrap;
    justify-content:space-between;/* 메인축 양쪽끝 */
    align-items:center;/* 교차축 수직 정렬 */
    margin-left:20px;
}
#wrap footer .top .right .site_map span {}
#wrap footer .top .right .site_map img {}
#wrap footer .btm {}
#wrap footer .btm {
    color: #808080;
    font-size: 0.875rem;
    line-height: 1.5;
}/* * -> 모든 자식 자손한테 적용하겠다. */
#wrap footer .btm address {
    /* color: #808080;
    font-size: 0.875rem;
    line-height: 1.5; */
    margin-bottom: 50px;
}
#wrap footer .btm p {
    /* color: #808080;
    font-size: 0.875rem;
    line-height: 1.5; */
}