/* ir.css */
#wrap main .path {
    padding: 12px 60px 12px 0;
    border:1px solid #f1f1f1;
    border-left: 0; border-right: 0;
    background-color: #fcfcfc;
    text-align: right;
}
#wrap main .path * {
    font-size: 0.75rem;
    letter-spacing:0;
}
#wrap main .path a {}
#wrap main .path img {margin:0 8px;}
#wrap main .path em {}
#wrap main > * {text-align: center;}
#wrap main h1 {
    margin: 80px 0 20px;
    font-size: 3.75rem;
    font-weight: 700;
}
#wrap main > p {
    padding:0 0 80px;
    line-height: 1.5;
    font-size: 1.125rem;
}
#wrap main .bg {
    background-color:#fcfcfc;
    padding: 80px 0;
}
/* 레이아웃 위치/정렬 기법 종류 inline-block, float, fles, grid, position */
#wrap main .bg .ir_list {
    /* overflow: hidden;/* 부모영역 밖으로 나간것도 없애라 */
    width:1280px;
    height:250px;
    margin:0 auto;
    padding:0 80px;
}
#wrap main .bg .ir_list a {
    float: left;/* 정렬방향 */
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    width:260px; height:250px;
    margin-right:26.67px;
    text-align:left;
    padding:30px;
    background-repeat: no-repeat;
    background-position: 90% 90%;
}
#wrap main .bg .ir_list a:hover {
    background-color: #fff;
    border: 1px solid #138fbf;
    box-shadow: 0 0 30px rgba(0,0,0,0.2);
}/* a에 마우스를 눌렸을때 디자인 -> :hover */
#wrap main .bg .ir_list a:nth-child(1) {background-image:url(../image/ir/ir_01.png)}
#wrap main .bg .ir_list a:nth-child(2) {background-image:url(../image/ir/ir_02.png)}
#wrap main .bg .ir_list a:nth-child(3) {background-image:url(../image/ir/ir_03.png)}
#wrap main .bg .ir_list a:last-child {margin-right: 0; background-image:url(../image/ir/ir_o4.png)} /* last -> 제일 끝을 가리킨다. */
#wrap main .bg .ir_list a h2 {
    margin-bottom: 5px;
    font-size:1.563rem;
    font-weight:700;
    line-height:1.3
}
#wrap main .bg .ir_list a p {
    font-size:0.938rem;
    line-height:1.4
}