/* sns.css */
#wrap {}
#wrap main {
    text-align: center;
}
#wrap main .path {
    /* 위치 먼저 설정 후 여백,글꼴디자인 */
    text-align:right;/* 글 정렬 방향 */
    padding:12px 60px;
    border:1px solid #F1F1F1; border-left:0; border-right:0;
    font-size:0.75rem;
}
#wrap main .path a {}
#wrap main .path img {}
#wrap main .path em {}
#wrap main h1 {
    background-color: limegreen;
    padding:70px 0 20px;
    font-size:3.438rem;
    font-weight:700;
}
#wrap main > p {
    background-color: yellow;
    padding-bottom:70px;
    font-size:1.125rem;
}
#wrap main .sns_wrap {
    background-color: steelblue;
    display:flex; flex-flow:row nowrap;
    justify-content:center;
    padding:70px;
}
#wrap main .sns_wrap a {
    background-color: brown;
    width:360px;
    padding:50px 0;
    margin-right:30px;
    display:flex; flex-flow:column nowrap;
    justify-content:center;
}
#wrap main .sns_wrap a p {background-color: violet;}
#wrap main .sns_wrap a p img {background-color: blue;}
#wrap main .sns_wrap a h2 {
    background-color: tomato;
    font-size:1.875rem;
    font-weight:600;
    text-transform: capitalize;
    margin:25px 0;
}
#wrap main .sns_wrap a p:last-child {background-color: green;}