/* sns.css */
#wrap {}
#wrap main {
    text-align: center;
}
#wrap main .path {
    /* 위치 먼저 설정 후 여백,글꼴디자인 */
    text-align:right;/* 글 정렬 방향 */
    padding:12px 60px;
    border:1px solid #F1F1F1; border-left:0; border-right:0;
    font-size:0.75rem;
}
#wrap main .path a {}
#wrap main .path img {}
#wrap main .path em {}
#wrap main h1 {
    background-color: limegreen;
    padding:70px 0 20px;
    font-size:3.438rem;
    font-weight:700;
}
#wrap main p {
    background-color: cadetblue;
    padding:0 0 70px;
}
#wrap main .bg {
    background-color: steelblue;
    padding:70px 0;
    display: flex; flex-flow:row nowrap;
    justify-content:center;
}
#wrap main .bg li {
    background-color: chocolate;
    display:inline-block;
    width:360px; height:300px;
    margin-right:30px;
}
#wrap main .bg li a {}
#wrap main .bg li a img {}
#wrap main .bg li a em {}
#wrap main .bg li a span {}